<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO - VUE</title>
    <style>
        .iscompleted .content{
            text-decoration: line-through;
            color: #999;
        }
    </style>
    <!-- <script src="../../../vue.js"></script> -->
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>TODO - VUE</h1>

        <!-- 输入区 -->
        <div class="header">
            <div class="allCompleted">
                <input type="checkbox" id="allCompleted" 
                    :checked='isAllCompleted'
                    @click='allCompleted'>
                <label for="allCompleted">allCompleted</label>
            </div>
            <div class="userInput">
                <!-- <input type="text" placeholder="what needs to be dones?"  -->
                <input type="text"
                @keyup.enter="addTodo" v-model.trim='inputVal'>
            </div>
        </div>

        <!-- 内容区 -->
        <div class="wrap">
            <ul>
                <li v-for='(item, index) of showItems' :key="item.id" :class='{iscompleted: item.done}'>
                    <label><input type="checkbox" :checked='item.done' v-model='item.done'></label>
                    <span class="content" @dblclick='editContent(index)' v-show='!isEditing(index)'>{{item.content}}</span>
                    <input type="text" class="edit-content" 
                        v-if='isEditing(index)' 
                        v-model='item.content'
                        @blur='saveEditing(item)' 
                        @keyup.enter='saveEditing(item)'
                        v-focus>
                    <span class="delete" @click='deleteItem(item)'> X </span>
                </li>
            </ul>
        </div>

        <!-- 选项栏 -->
        <div class="menu">
            <div class="leftItems">
                <span class="leftItemsNum">{{leftItemsNum}}</span>
                item<span class="leftItems">{{itemPlural}} </span> left
            </div>
            <div class="selectMenu">
                <label><input type="radio" v-model='itemCategory' value="all" class="selectAll">All</label>
                <label><input type="radio" v-model='itemCategory' value="active" class="selectActive">Active</label>
                <label><input type="radio" v-model='itemCategory' value="completed" class="selectCompleted">Completed</label>
            </div>
            <div class="clearAll">
                <button v-show='showClearAllComp' @click='clearAllComp'>clearAllCompleted</button>
            </div>
        </div>
    </div>

    <script>
        Vue.directive('focus', {
          // 当被绑定的元素插入到 DOM 中时……
          inserted: function (el) {
            // 聚焦元素
            el.focus()
          }
        })


        let vm = new Vue({
            el: '#app',
            data: {
                items: [],
                // items:  [{
                //     content: '001',
                //     done: false,
                // }, {
                //     content: '002',
                //     done: false,
                // }, {
                //     content: '003',
                //     done: true,
                // }],
                inputVal: '',
                itemCategory: 'all',
                editing: -1
            },
            methods: {
                addTodo () {
                    console.log('addTodo')
                    if (this.inputVal) {
                        this.items.push({
                            id: Number(new Date()),
                            content: this.inputVal,
                            done: false
                        })
                        this.inputVal = ''
                    }
                },
                deleteItem (item) {
                    console.log('deleteItem')
                    let index = this.items.indexOf(item)
                    this.items.splice(index, 1)
                },
                clearAllComp () {
                    this.items = this.items.filter(it => !it.done)
                },
                allCompleted () {
                    if (this.isAllCompleted) {
                        this.items.forEach(it => it.done = false)
                    } else {
                        this.items.forEach(it => it.done = true)
                    }
                },
                editContent (index) {
                    if (this.editing == -1) {
                        this.editing = index
                    }
                },
                isEditing (index) {
                    return index == this.editing
                },
                saveEditing (item) {
                    let str = item.content.trim()
                    if (str) {
                        this.editing = -1
                    }
                    this.saveToStore()
                },
                saveToStore () {
                    console.log('%c items is changing...','background:#000;color:yellow')
                    window.localStorage.setItem('todos', JSON.stringify(this.items))
                }

            },
            computed: {
                showItems () {
                    // this.items
                    if (this.itemCategory == 'active') { 
                        console.log('computed active')
                        return this.items.filter(it => it.done == false)
                        // return this.items.filter(it => !it.done)
                    } else if (this.itemCategory == 'completed') {
                        console.log('computed completed')
                        return this.items.filter(it => it.done)
                    } else { 
                        console.log('computed all')
                        return this.items
                    }
                },
                leftItemsNum () {
                    return this.items.filter(it => !it.done).length
                },
                itemPlural () {
                    return this.items.filter(it => !it.done).length > 1 ? 's' : ' '
                },
                showClearAllComp () {
                    return this.items.filter(it => it.done).length > 0
                },
                isAllCompleted () {
                    return this.items.every(it => it.done) && this.items.length > 0
                },
                
            },
            watch: {
                items () {
                    this.saveToStore()
                }
            },
            mounted () {
                let stroe = window.localStorage.getItem('todos')

                if (window.localStorage.getItem('todos')) {
                    this.items = JSON.parse(stroe)
                }
            }
        })
    </script>
</body>
</html>
